POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=geolog
POSTGRES_USER=root
POSTGRES_PASSWORD=admin

MONGO_USER=root
MONGO_PASSWORD=admin
MONGO_URI=mongodb://root:admin@localhost:27018
MONGO_DB=geolog
